doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    block header_injection
    meta(name='viewport', content='user-scalable=no')

  body
    block content